/* FONT IMPORTS */
/* @import url("LINK"); */

/* GLOBAL CUSTOM CSS PROPERTIES/VARIABLES */
:root {
  /* THEME COLORS */
  /* --color1: #; */
  /* --color2: #; */
  /* --color3: #; */
  /* --color4: #; */
  /* --color5: #; */
  /* --color6: #; */

  /* NEUTRAL COLORS */
  --white: #ffffff;
  --whitesmoke: #f5f5f5;
  --grey: #979797;
  --dark-grey: #333333;
  --black: #000000;
  --midnight-black: #0d0d0d;

  /* DEFAULT BACKGROUND & TEXT COLOR */
  --bg-color: var(--black);
  --text-color: var(--white);

  --font-family:
    "Arial", "Helvetica", "sans-serif"; /* Add imported font-family in front */
}
