.burger-menu {
  cursor: pointer;
  opacity: 0;
  -webkit-animation: fadein 0.2s ease 1s forwards;
  animation: fadein 0.2s ease 1s forwards;
  overflow: hidden;
  position: relative;
  width: 80px; /* added fixed width */
  height: 80px; /* added fixed height to match original icon size */
  flex-shrink: 0;
  z-index: 500;
}

.burger-menu .filling,
.burger-menu .bun {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: 10%;
  width: 70%;
  transform-origin: 50% 50%;
  transition:
    top 0.4s ease 0.4s,
    transform 0.4s ease 0.4s;
}

.burger-menu .filling:before,
.burger-menu .bun:before,
.burger-menu .filling:after,
.burger-menu .bun:after {
  content: "";
  display: block;
  height: 40%;
  background: white;
  position: absolute;
  top: 50%;
  transform: translate(0%, -45%);
  transition:
    background 0.2s ease,
    box-shadow 0.2s ease;
}

.burger-menu .filling:before,
.burger-menu .bun:before {
  left: 0;
  width: calc(-1px + 75%);
  border-radius: 10px 0px 0px 10px;
}

.burger-menu .filling:after,
.burger-menu .bun:after {
  right: 0;
  width: calc(-1px + 25%);
}

.burger-menu:hover .bun.top:before {
  background: #fee;
  box-shadow: #f00 0px 0px 10px 1px;
}

.burger-menu:hover .bun.bottom:before {
  background: #dff;
  box-shadow: #0ff 0px 0px 10px 1px;
}

.burger-menu:hover .filling:before {
  background: #efe;
  box-shadow: #0f0 0px 0px 10px 1px;
}

.burger-menu .bun.top {
  top: 25%;
}

.burger-menu .bun.bottom {
  top: 75%;
}

.burger-menu .filling {
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-animation: green-ls-out 0.8s ease forwards;
  animation: green-ls-out 0.8s ease forwards;
}

.burger-menu.active .bun {
  border-radius: 3px;
  top: 50%;
  transition:
    top 0.4s ease,
    transform 0.4s ease;
}

.burger-menu.active .bun.top {
  transform: translate(-50%, -50%) rotate(-225deg);
}

.burger-menu.active .bun.bottom {
  transform: translate(-50%, -50%) rotate(405deg);
}

.burger-menu.active .filling {
  transform: translate(-50%, -50%) rotate(-90deg);
  -webkit-animation: green-ls-in 0.8s ease forwards;
  animation: green-ls-in 0.8s ease forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
