button {
  padding: 0.75rem 1.5rem;
  background-color: var(--blue-force);
  color: white;
  border: none;
  border-radius: 999rem;
  font-family: var(--font-orbitron);
  cursor: pointer;
  transition:
    background-color 0.15s ease-in-out,
    transform 0.3s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

button:hover {
  box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.3);
}

button:active {
  background-color: #3488cc;
  transform: translateY(0.1rem);
}

#toggleBg {
  position: absolute;
  right: 1rem;
  background: url(../../images/hyperspace.jpeg) no-repeat center/cover;
  z-index: 12;
}
