footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 10vh;

  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  z-index: 10;
}

footer > address {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-style: normal;
}
