body > header {
  /* position: fixed;
  top: 0; */
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  z-index: 11;
}

body > header > nav {
  width: 100%;
  display: flex;
}

body > header > nav > ul {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

body > header > nav > ul > li {
  width: 100%;
}

body > header > nav > ul > li > a {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  transform: scale(1);
  transition: 0.3s transform ease-in-out;
}

body > header > nav > ul > li > a:hover {
  transform: scale(1.2);
}
