body > header {
  /* position: fixed;
  top: 0; */
  width: 100%;
  padding: 0.5rem 1rem;
  background: #f5c542;
  background: radial-gradient(
    circle,
    rgba(245, 197, 66, 1) 0%,
    rgba(219, 168, 29, 1) 50%,
    rgba(166, 131, 28, 1) 100%
  );
  color: var(--text-color);
  text-align: center;
  font-family: var(--font-nav);
  z-index: 11;
}

body > header > nav {
  width: 100%;
  height: 100%;
  display: flex;
  font-weight: 500;
}

body > header > nav > .nav-top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body > header > nav > .nav-top-bar > .header-logo {
  height: 100%;
  width: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

body > header > nav > ul {
  display: none;
  /* width: 100%; */
  padding: 1rem 0rem;
  /* justify-content: space-evenly; */
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  line-height: 2.5rem;
}

body > header > nav > ul > li {
  text-align: center;
  width: fit-content;
}

body > header > nav > ul > li > a {
  padding: 0.25rem 0.5rem;
  transform-origin: 50% 75%;
  transition: 0.3s transform ease-in-out;
  text-decoration: none;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.5rem;
}

body > header > nav > ul > li > a:hover {
  transform: scale(1.15);
  text-decoration: underline;
}
