body > header {
  /* position: fixed;
  top: 0; */
  width: 100%;
  background: #f5c542;
  background: radial-gradient(
    circle,
    rgba(245, 197, 66, 1) 0%,
    rgba(219, 168, 29, 1) 50%,
    rgba(166, 131, 28, 1) 100%
  );
  color: var(--text-color);
  text-align: center;
  z-index: 11;
}

body > header > nav {
  width: 100%;
  display: flex;
  font-size: 2.6rem;
  font-weight: 500;
}

body > header > nav > ul {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  gap: 3rem;
  list-style-type: none;
}

body > header > nav > ul > li {
  width: fit-content;
}

body > header > nav > ul > li > a {
  padding: 0.25rem 0.5rem;
  transform-origin: 50% 75%;
  transition: 0.3s transform ease-in-out;
  text-decoration: none;
}

body > header > nav > ul > li > a:hover {
  transform: scale(1.15);

  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.5rem;
}
