audio#bg-audio {
}

#audio-controls {
  position: absolute;
  top: 5rem;
  right: 1rem;
  background: url(../images/light-saber-hilt.jpeg) no-repeat center/cover;
  background-size: 130% auto;
  background-position-x: 25%;
  border-radius: 999rem;
  z-index: 12;
  padding-left: 4.5rem;
}

input#volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 12rem;
  background-color: transparent; /* track background color */
  border-radius: 999rem;
  outline: none;
  outline: none;
  border-color: var(--blue-force);
  box-shadow: 0 0 18px rgba(77, 166, 255, 0.8);
}

/* Track (Firefox) */
input#volume-slider::-moz-range-track {
  background-color: transparent;
  border: 2px solid var(--blue-force);
  border-radius: 999rem;
}

/* Track (Chrome, Safari, Edge) */
input#volume-slider::-webkit-slider-runnable-track {
  background-color: transparent;
  border: 2px solid var(--blue-force);
  border-radius: 999rem;
}

/* Knob (Chrome, Safari, Edge) */
input#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background-color: #4da6ffdd; /* knob color */
  box-shadow: 0 0 5px 1px #4da6ffaa;
  border-radius: 999rem;
  cursor: pointer;
}

/* Knob (Firefox) */
input#volume-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background-color: var(--blue-force); /* knob color */
  border-radius: 999rem;
  cursor: pointer;
  border: none;
}
