/* GLOBAL RESET OF MARGINS, PADDINGS, AND LINKS */

*,
*::before,
*::after {
  box-sizing: border-box; /* This template uses border-box */
  margin: 0; /* Reset margins */
  padding: 0; /* Reset paddings */
}
